.diffSummary {
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-radius: rem(10px);
  padding: rem(12px);
  background: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
}

:global(.history-diff-added) {
  position: relative;
  z-index: 0;
}

:global(.history-diff-added)::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  right: 0;
  background: light-dark(var(--mantine-color-green-0), rgba(0, 255, 0, 0.06));
  border-radius: rem(4px);
  pointer-events: none;
}

:global(.history-diff-deleted) {
  text-decoration: line-through;
  color: light-dark(var(--mantine-color-red-7), var(--mantine-color-red-4));
  background: light-dark(var(--mantine-color-red-0), rgba(255, 0, 0, 0.1));
  border-radius: rem(2px);
  padding: 0 rem(2px);
}
