.resourceLinkText {
  width: fit-content;

  @mixin light {
    border-bottom: 0.05em solid var(--mantine-color-dark-0);
  }
  @mixin dark {
    border-bottom: 0.05em solid var(--mantine-color-dark-2);
  }
}
