.env
.env.dev
.env.prod
data
# compiled output
/dist
/node_modules
/.pnpm-store
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.nx
.nx/installation
.nx/cache

# dev local volumes
/data
/.pnpm-store
/backups
/backups/*tar.gz
/db_data
/redis_data
/docmost_data
