.card {
  max-width: 100%;
  cursor: pointer;
  transition: background-color 150ms ease;
  margin: 4px 0;
}

.card:hover {
  background-color: var(--mantine-color-gray-0);
}

:global([data-mantine-color-scheme="dark"]) .card:hover {
  background-color: var(--mantine-color-dark-5);
}
