.aiMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 2.25rem;
}
.menuItemSelected {
  background-color: var(--mantine-color-gray-1);

  @mixin dark {
    background-color: var(--mantine-color-dark-5);
  }
}

.resultPreviewWrapper {
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}
