.editor {
    height: 100%;
    min-height: calc(100dvh - var(--app-shell-header-height, 45px) - 96px);
    padding: 8px 0;
    margin: 48px auto;

    @media print {
        padding: 0;
        margin: 0;
        min-height: 0;
    }
}

.byline {
    padding-left: 3rem;

    @media (max-width: $mantine-breakpoint-sm) {
        padding-left: 1rem;
    }

    @media print {
        padding-left: 0;
    }
}

