@media print {
    .mantine-AppShell-header,
    .mantine-AppShell-navbar,
    .mantine-AppShell-aside{
        display: none !important;
    }

    .mantine-AppShell-main {
        padding-top: 0 !important;
        min-height: auto !important;
    }
}
