@media print {
  .mantine-AppShell-header,
  .mantine-AppShell-navbar,
  .mantine-AppShell-aside,
  .print-hide,
  .drag-handle {
    display: none !important;
  }

  .mantine-AppShell-main {
    padding: 0 !important;
    min-height: auto !important;
  }

  .ProseMirror-selectednode {
    outline: none !important;
    box-shadow: none !important;
  }

  .tableWrapper {
    overflow: hidden !important;
  }
}
