@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .mantine-AppShell-header,
  .mantine-AppShell-navbar,
  .mantine-AppShell-aside,
  .print-hide,
  .drag-handle {
    display: none !important;
  }

  .mantine-AppShell-main {
    padding-top: 0 !important;
    min-height: auto !important;
  }

  .ProseMirror-selectednode {
    outline: none !important;
    box-shadow: none !important;
  }

  .tableWrapper {
    overflow: visible !important;
    max-height: none !important;
  }

  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  thead {
    display: table-header-group;
  }
}
