.root {
  overflow: visible;
}

.icon {
  font-size: 24px;
  line-height: 1;
  width: 20px;
  height: 20px;
  margin-inline-end: var(--mantine-spacing-xs);
  margin-top: 4px;
  cursor: pointer;
}

.message {
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-default-color);
  overflow: visible;
  text-overflow: unset;
  word-break: break-word;
  overflow-wrap: break-word;
}
