.control {
    font-weight: 500;
    display: block;
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
    color: var(--mantine-color-text);
    font-size: var(--mantine-font-size-sm);

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
        color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    }
}

.item {
    display: block;
    text-decoration: none;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    padding-left: 4px;
    margin-left: var(--mantine-spacing-sm);
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
}

.chevron {
    transition: transform 200ms ease;
}
