.navbar {
    background-color: var(--ui-bg-canvas);
    height: 100%;
    width: 100%;
    padding: var(--mantine-spacing-md);
    padding-top: 0;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.section {
    margin-left: calc(var(--mantine-spacing-md) * -1);
    margin-right: calc(var(--mantine-spacing-md) * -1);
    margin-bottom: var(--mantine-spacing-md);

    &:not(:last-of-type) {
        border-bottom: rem(1px) solid var(--ui-border-default);
    }
}

.sectionPages {
    margin-bottom: 0;
    overflow-y: hidden;

    .pages {
        height: 100%;
        padding-bottom: 26px;
    }
}

.menuItems {
    padding-left: calc(var(--mantine-spacing-md) - var(--mantine-spacing-xs));
    padding-right: calc(var(--mantine-spacing-md) - var(--mantine-spacing-xs));
    padding-bottom: var(--mantine-spacing-md);
    gap: rem(2px);
    display: grid;
}

.menu {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: var(--mantine-font-size-sm);
    padding: rem(6px) var(--mantine-spacing-xs);
    border-radius: rem(8px);
    font-weight: 500;
    color: var(--ui-text-secondary);
    transition: background-color 120ms ease, color 120ms ease;

    &:hover {
        background-color: var(--ui-bg-subtle);
        color: var(--ui-text-primary);
    }
}

.menuItemInner {
    display: flex;
    align-items: center;
    flex: 1;
}

.menuItemIcon {
    margin-right: var(--mantine-spacing-sm);
    color: var(--ui-text-tertiary);
}

.pages {
    padding-left: calc(var(--mantine-spacing-md) - rem(6px));
    padding-right: calc(var(--mantine-spacing-md) - rem(6px));
    padding-bottom: var(--mantine-spacing-md);
}

.pagesHeader {
    padding-left: calc(var(--mantine-spacing-md) + rem(2px));
    padding-right: var(--mantine-spacing-md);
    margin-bottom: rem(5px);
}

.pageLink {
    display: block;
    padding: rem(8px) var(--mantine-spacing-xs);
    text-decoration: none;
    border-radius: var(--mantine-radius-sm);
    font-size: var(--mantine-font-size-xs);
    color: var(--ui-text-secondary);
    line-height: 1;
    font-weight: 500;

    &:hover {
        background-color: var(--ui-bg-subtle);
        color: var(--ui-text-primary);
    }
}

.activeButton {
    background-color: var(--ui-bg-subtle);
    color: var(--ui-text-primary);
}
