.header, .navbar, .aside {
  background-color: var(--ui-bg-canvas);
}

.navbar, .aside {
  @media (max-width: $mantine-breakpoint-sm) {
    width: 350px;
  }
}

.navbar {
  border-inline-end: 1px solid var(--ui-border-default);
}

.aside {
  border-inline-start: 1px solid var(--ui-border-default);
}

.aside {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: 45px;
  }
}

.resizeHandle {
  width: 4px;
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 4px;
  transition: background-color 120ms ease;

  &:hover, &:active {
    width: 6px;
    background: var(--ui-border-hover);
  }
}
