.sidebar {
  max-height: rem(700px);
  width: rem(180px);
  padding: var(--mantine-spacing-sm);
  display: flex;
  flex-direction: column;
  border-right: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.sidebarFlex {
  display: flex;
}

.sidebarMain {
  flex: 1;
}

.sidebarRightSection {
  flex: 1;
  padding: rem(16px) rem(40px);
}

.sidebarItemHeader {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebarItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  user-select: none;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-6)
    );
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

    .sidebarItemIcon {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
  }

  &[data-active] {
    &,
    & :hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);

      .sidebarItemIcon {
        color: var(--mantine-color-blue-light-color);
      }
    }
  }
}

.sidebarItemIcon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  margin-right: var(--mantine-spacing-sm);
  width: rem(20px);
  height: rem(20px);
}
