.container {
  margin: 0;
  padding-left: 4px;
  user-select: none;

  a {
    border: none !important;
  }
}

.item {
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  min-height: 28px;
}

.toggle {
  flex: 0 0 24px;
  margin-right: 2px;
}

.togglePlaceholder {
  display: inline-block;
  flex: 0 0 26px;
}

.icon {
  margin-right: 4px;
}
