.container {
  counter-reset: h1 h2 h3 h4;
  border-left: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.emptyState {
  color: light-dark(
    var(--mantine-color-dark-3),
    var(--mantine-color-dark-2)
  ) !important;
}

.link {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: start;
  word-wrap: break-word;
  background-color: transparent;
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);
  line-height: var(--mantine-line-height-sm);
  padding: 6px;
  border: none;
  border-bottom: none !important;
  padding-left: calc(var(--level) * 1rem);

  &[style*="--level: 1"] {
    counter-increment: h1;
    counter-reset: h2 h3 h4;
    padding-left: 6px;
    &::before {
      content: counter(h1) ". ";
    }
  }

  &[style*="--level: 2"] {
    counter-increment: h2;
    counter-reset: h3 h4;
    &::before {
      content: counter(h2) ". ";
    }
  }

  &[style*="--level: 3"] {
    counter-increment: h3;
    counter-reset: h4;
    &::before {
      content: counter(h3) ". ";
    }
  }

  &[style*="--level: 4"] {
    counter-increment: h4;
    &::before {
      content: counter(h4) ". ";
    }
  }

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-6)
    );
  }
}
