.embedContainer {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.embedWrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  
  @mixin light {
    background-color: var(--mantine-color-gray-0);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-7);
  }
}

.nonResizable {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
}

.embedIframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}